* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "RobotoThin"; 
    src: url("../../assets/fonts/Roboto-Thin.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 100; 
} 

@font-face {
    font-family: "RobotoLight"; 
    src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 300; 
} 

@font-face {
    font-family: "Roboto"; 
    src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 

@font-face {
    font-family: "RobotoMedium"; 
    src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 500; 
} 

@font-face {
    font-family: "RobotoBold"; 
    src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
} 

body {
    margin: 0 auto;
    font-family: "RobotoMedium", sans-serif;
    font-weight: 500; 
    font-size: 16px;
}

.dark {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    transition: 0.5s;
    display: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    position: absolute; 
    color: white;
    background-color: black;
    z-index: 100;   
}

.burger-menu {
    width: 100%;
    height: 329px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    color: black;
    padding: 10px;
    z-index: 1000;
    transition: 0.5s;
    transform: translateX(100%);
}

.burger-nav-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    list-style: none;
}

.burger-nav-link,
.burger-credits {
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.2px;
    transition: 0.2s;
}

.burger-nav-link:hover,
.burger-credits:hover {
    color:#FE9013;
}

.burger-nav-link:active,
.burger-credits:active {
    color:#4B9200;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.close-line {
    display: block;
    width: 20px;
    height: 1.5px;
    background-color:#FE9013;
    border-radius: 20px;
    position: absolute;
    top: 50%;
}

.close-line:nth-child(1) {
    transform: translateY(-50%) rotate(45deg);
}

.close-line:nth-child(2) {
    transform: translateY(-50%) rotate(-45deg);
}

.nav-wrapper {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    width: 82px;
    height: 52px;
    margin-right: 22px;
    text-decoration: none;
    background-color: transparent;
    border: solid white 1px;
    border-radius: 2px;
    cursor: pointer;
}

.logo-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px;
    text-align: center;
    color: white;
    word-wrap: break-word;
}

.logo-bamboo {
    position: absolute;
    bottom: 6.2px;
    left: 8.5px;
}

.burger-logo,
.burger-logo-text {
    color:#FE9013;
    font-size: 15.21px;
}

.burger-logo {
    border: solid #FE9013 1px;
    height: 41.6px;
    width: 65.6px;
    margin-bottom: 30px;
}

.burger-logo-bamboo {
    width: 8.62px;
    height: 17.79px;
    bottom: 4.7px;
    left: 7.5px;
    filter: invert(55%) sepia(30%) saturate(1366%) hue-rotate(348deg) brightness(145%) contrast(117%);
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 58px;
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.active-link {
    color: #FE9013;
}

.nav-link:hover {
    color: #FE9013;
    cursor: pointer;
}

.nav-link:active {
    color: #4B9200;
}

.header-credits {
    color: white;
    text-decoration: none;
}

.header-credits:hover {
    color: #FE9013;
}

.header-credits:active {
    color: #4B9200;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.panda-block {
    display: flex;
    position: relative;
    width: 100%;
    height: 386px;
    margin-top: 80px;
    background-image: url('../../assets/images/Giant\ Panda.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.donations {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.donation-wrapper {
    width: 100%;
    max-width: 1160px;
    margin-top: 12px;
    color: white;
}

.donation-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 12px;
}

.donation-description {
    width: 99%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 46px;
}

.donation-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #FE9013;
    margin-bottom: 62px;
}

.donation-info-block {
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    padding: 40px 92px 35px 92px;
    margin-bottom: 179px;
}

.info-title {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #FE9013;
    margin: 0 15px 20px 0;    
    text-align: center;
}

.info-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: black;
    margin-bottom: 74px;
}

.diet-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 18px;
    margin-bottom: 26px;
    color: black;
}

.diet-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.diet-amount-number {
    font-family: "RobotoMedium", sans-serif;
    font-weight: 500;
    font-size: 72px;
    margin: 0;
    padding: 0;
}

.diet-amount-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.diet-separator {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 60px;
}

.diet-separator:before {
    position: absolute;
    left: 15px;
    bottom: 5px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: black;
    border-radius: 10px;
    transform: rotate(45deg);
}

.diet-separator:after {
    position: absolute;
    left: 15px;
    bottom: 5px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: black;
    border-radius: 10px;
    transform: rotate(-45deg);
}

.diet-animal {
    width: 284px;
    height: 246px;
    background-image: url('../../assets/icons/panda_widget.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.form-name {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    padding-left: 20px;
    margin-bottom: 17px;
}

.progress-bar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 27px;
    position: relative;
    background: #404950;
    border-radius: 2px;
    margin-bottom: 99px;
}

.form-inner-line {
    position: absolute;
    top: 13px;
    width: 94%;
    height: 2px;
    margin: 0 20px;
    background-color: #72828E;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 5px;
    right: 0px;
    width: 100%;
    height: 27px;
}

.amount-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 21px;
}

.amount-item:hover .line-dot {
    transform: scale(1.15);
}

.amount-item:active .line-dot {
    transform: scale(1);
}

.amount-radio {
    transform:scale(5);
    opacity: 0;
    z-index: 1000;
    cursor: pointer;
}

.form-line-label {
    display: flex;
    align-items: center;
    width: 69px;
    cursor: pointer;
}

.amount-text {
    font-family: "RobotoMedium", sans-serif;
    font-weight: 500;
    font-size: 26px;
    color:#333B41;
    margin: 0;
    margin-left: 15px;
    transition: 0.2s;
}

.dots-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
}

.line-dot {
    position: absolute;
    top: 3.6px;
    width: 10px;
    height: 10px;
    background-color: #FFEE2E;
    border-radius: 50%;
    z-index: 100;
    transition: 0.2s;
}

.line-dot::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #FE9013;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    opacity: 0;
    z-index: 10;
    transition: 0.2s;
}

.line-dot::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #FE9013;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    opacity: 0;
    z-index: 10;
    transition: 0.2s;
}

.dollar {
    position: absolute;
    top: 44px;
    width: 10px;
    height: 20px;
    background: url('../../assets/icons/dollar.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 3px;
    transition: 0.2s;
}

.amount-radio:checked ~ .form-line-label .amount-text {
    color:#FE9013;
}

.amount-radio:checked ~ .form-line-label .dollar {
    background: url('../../assets/icons/dollar_orange.svg');
}

.amount-radio:checked ~ .line-dot::before {
    opacity: 1;
    width: 19px;
    height: 19px;
}

.amount-radio:checked ~ .line-dot::after {
    width: 36px;
    height: 36px;
    opacity: 1;
}

.amount-input::-webkit-outer-spin-button,
.amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amount-input {
    position: relative;
    width: 270px;
    height: 55px;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #929699;
    border-radius: 2px;
    outline: none;
    color: #929699;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: url(../../assets/icons/dollar_gray.svg);
    background-repeat: no-repeat;
    background-position: 96% center;
    transition: 0.2s;
}

.amount-input:valid {
    border: 1px solid #929699;
    color:#929699;
}

.amount-input:focus {
    border: 1px solid #4B9200;
    color:#4B9200;
    background: url(../../assets/icons/dollar_green.svg);
    background-repeat: no-repeat;
    background-position: 96% center;
}

.amount-input:invalid {
    border: 1px solid #D31414;
    color:#D31414;
    background: url(../../assets/icons/dollar_red.svg);
    background-repeat: no-repeat;
    background-position: 96% center;
}

@-webkit-keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}
  
@keyframes swing {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
}

.input-dollar {
    position: absolute;
    right: 10px;
}

.period-form {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 32px;
    margin-right: 65px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.period-form label {
    cursor: pointer;
}

.period-item {
    display: flex;
}

.period-option {
    margin-left: 45px;
    transform: translateX(10px);
    transform: scale(2.2);
    opacity: 0;
    z-index: 100;
    cursor: pointer;
}

.period-option-dot {
    position: relative;
    top: 2px;
    right: 10px;
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.period-item:hover .period-option-dot {
    transform: scale(1.2);
}

.period-option:checked ~ .period-option-dot {
    border: none;
    background-color: #4B9200;
}

.share-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-align: center;
    margin-bottom: 30px;
}

.feed-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 54px;
    margin: auto;
    margin-bottom: 31px;
    background-color: #E47209;
    background-image: linear-gradient(113.96deg, #F9804B 0%, #FE9013 100%);
    border-radius: 25px;
    border: none;
    color: white;
    font-family: "RobotoMedium", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.2s;
}

.feed-button:hover {
    background: #E47209;
    transform: scale(1.03);
    cursor: pointer;
}

.feed-button:active {
    background: #4B9200;
    transform: scale(1.0);
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 443px;
    color: white;
    background-color: black;
}

.footer-wrapper {
    display: grid; 
    grid-template-columns: 1fr 2.23fr; 
    grid-template-rows: 1.5fr 1.3fr 2.5fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logo subscription"
      "donation-block donation-block"
      "social-media footer-navigation";   
    width: 1160px;
    margin-top: 41px;
    margin-bottom: 30px;
}

.donation-block { grid-area: donation-block; }
.subscription { grid-area: subscription; }
.social-media { grid-area: social-media; }
.footer-navigation { grid-area: footer-navigation; }

.subscription {
    display: flex;
    justify-content: flex-end;
    font-family: "Roboto", sans-serif;
    margin-bottom: 37px;
}

.subscription-title {
    font-size: 24px;
    margin-bottom: 12px;
}

.subscription-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#email {
    width: 228px;
    height: 42px;
    margin-right: 5px;
    padding: 10px;
    font-size: 16px;
    color: #BDBDBD;
    background-color: black;
    border: 1px solid #F9804B;
    border-radius: 2px;
    outline: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#email:focus {
    border: 1px solid #4B9200;
}

#email:invalid {
    border: 1px solid #D31414;
    color: #D31414;
}

.submit-button {
    width: 129px;
    height: 42px;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    color: #4B9200;
    transform: scale(1.03);
}

.submit-button:active {
    border: 1px solid #4B9200;
    transform: scale(1);
}

.donation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 54px;
    margin-bottom: 0;
    border: none;
    border-radius: 5px;
    color: white;
    background-color:#E47209;
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    font-family: "RobotoMedium", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.2s;    
}

.donation-button:hover {
    background: #E47209;
    transform: scale(1.03);
    cursor: pointer;
}

.donation-button:active {
    background: #4B9200;
    transform: scale(1.0);
}

.social-media {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.social-media-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-align: left;
}

.social-media-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.social-media-icon img {
    margin: 0 auto;
    vertical-align: middle;
}

.social-media-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.social-media-link p {
    margin: 0;
}

.social-media-link:active .social-media-icon{
    background-color:#4B9200;
}

.social-media-link:active {
    color:#4B9200;
}

.social-media-link:hover .social-media-icon {
    transform: scale(1.05);
}

.social-media-link:hover {
    font-size: 17px;
}

.social-media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    margin-right: 13px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-color: rgba(196, 196, 196, 0.5);
    transition: 0.2s;
}

.footer-navigation {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 5px;
}

.credits {
    font-family: "RobotoThin", sans-serif;
    font-weight: 100;
}

.credits-text {
    margin: 13px 0;
}

.credits-link {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.credits-link:hover .credits-text {
    color: #4B9200;
    border-bottom: 2px solid #4B9200;
}

.panda-gif-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    max-width: 1160px;
    width: 60%;
    height: 70%;
    margin: 100px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    transform: translateY(-150%);
    transition: 0.5s;
    z-index: 1000;
}

.panda-gif {
    width: 600px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    margin-bottom: 30px;
}

.panda-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: white;
}

.burger-menu {
    display: none;
}

@media (max-width: 1325px) {
    .panda-block {
        background-size: 160%;
        background-position: 29% 50%;
    }

    .footer-wrapper {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 1200px) {
    .donation-wrapper {
        margin: 0 30px;
    }

    .form-line-label {
        width: 55px;
    }
}

@media (max-width: 1001px) {
    .header {
        justify-content: space-between;
        padding: 0 30px;
    }

    .nav-list {
        gap: 48px;
    }

    .panda-block {
        height: 390px;
    }
    
    .donation-title {
        line-height: 46.8px;
        margin: 40px 100px 30px 0;
    }

    .donation-subtitle {
        margin-bottom: 42px;
    }

    .donation-info-block {
        padding: 20px 47px 18px 47px;
        margin-bottom: 30px;
    }

    .info-title {
        margin-bottom: 10px;
    }

    .diet-amount {
        margin-right: 5px;
    }

    .diet-animal {
        margin-right: 5px;
    }

    .form-name {
        padding-left: 18px;
    }

    .amount-item:first-of-type {
        display: none;
    }

    .progress-bar-wrapper {
        width: 95.7%;
        margin: auto;
        margin-bottom: 99px;
    }
    
    .form-inner-line {
        width: 96%;
    }

    .progress-bar {
        position: absolute;
        width: 105%;
        left: -20px;
    }

    .form-line-label {
        padding-left: 17px;
        width: 69px;
    }

    .amount-input {
        margin-bottom: 26px;
    }


    .period-form {
        margin-right: 69px;   
        margin-bottom: 31px;
    }

    .footer-wrapper {
        margin: 40px 32px 30px 30px;
        grid-template-columns: 1fr 2.75fr;
    }

    .subscription-wrapper {
        margin-right: 32px;
    }

    .subscription-title {
        margin-bottom: 14px;
    }

    .footer-navigation .nav .nav-list {
        padding-left: 54px;
    }

    .panda-gif {
        width: 90%;
    }

    .panda-text {
        text-align: center;
    }
}

@media (max-width: 900px) {
    .form-line-label {
        width: 45px;
    }

    .progress-bar {
        left: -11px;
        width: 103%;
    }
}

@media (max-width: 800px) {
    .diet-block {
        padding-right: 0;
    }
}

@media (max-width: 750px) {
    .header .nav-wrapper .nav .nav-list {
        gap: 28px;
    }

    .form-line-label {
        width: 60px;
    }

    .progress-bar {
        left: -15px;
        width: 106%;
    }
}

@media (max-width: 680px) {
    .header .nav-wrapper .nav .nav-list {
        gap: 15px;
    }

    .progress-bar {
        left: -17px;
        width: 107%;
    }

    .panda-gif {
        width: 95%;
        height: 250px;
    }

    .panda-text {
        font-size: 24px;
    }
}

@media (max-width: 641px) {
    .burger-menu {
        display: flex;
    }

    .header {
        position: fixed;
        justify-content: space-between;
        height: 34px;
        padding: 0 20px;
    }

    .header .nav-wrapper .nav {
        display: none;
    }

    .header-logo {
        border: none;
        width: 46.86px;
    }

    .header-logo-text {
        font-size: 12.3px;
    }

    .header-logo-bamboo {
        height: 20px;
        width: 6.5px;
        bottom: 11.2px;
        left: 3px;
    }

    .header-credits {
        display: none;
    }

    .burger-menu-button {
        display: block;
        position: relative;
        width: 18.5px;
        height: 10px;
        cursor: pointer;
        z-index: 1;
    }

    .burger-menu-button span, 
    .burger-menu-button span::before, 
    .burger-menu-button span::after {
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 1.5px;
        background-color: white;
        border-radius: 2px;
    }

    .burger-menu-button span::before {
        top: 4px;
    }

    .burger-menu-button span::after {
        top: 8px;
    }

    .panda-block {
        height: 369px;
        margin: 0;
        background-size: 215%;
        background-position: 37% 47%;
    }

    .donation-wrapper {
        margin: 0 17px 0 20px;
    }

    .donation-title {
        font-size: 24px;
        line-height: 28.8px;
        margin: 32px 30px 17px 0;
    }

    .donation-description {
        margin-bottom: 30px;
    }

    .donation-subtitle {
        margin-bottom: 33px;
    }

    .donation-info-block {
        margin-right: 3px;
        margin-bottom: 46px;
        padding: 28px 0 1px 0;
    }

    .info-title {
        margin: 0 0 21px 0;
    }

    .info-description {
        text-align: center;
        margin-bottom: 65px;
    }

    .diet-block {
        padding-right: 15px;
        margin-bottom: 18px;
    }

    .diet-animal {
        margin-top: 8px;
    }

    .form-name {
        margin-bottom: 8px;
        padding-left: 10px;
    }

    .progress-bar-wrapper {
        width: 100%;
    }

    .form-inner-line {
        width: 87%;
    }

    .progress-bar {
        width: 98%;
        left: 5px;
    }

    .amount-item:nth-of-type(2),
    .amount-item:nth-of-type(3) {
        display: none;
    }
    
    .form-line-label {
        padding-left: 9px;
        width: 69px;
    }

    .amount-input {
        width: 180px;
        height: 42px;
        padding-left: 5px;
        margin-bottom: 32px;
        background-position: 95% center;
    }

    .period-form {
        margin-right: 70px;
    }

    .share-text {
        margin-bottom: 32px;
    }

    .footer {
        height: 282px;
    }

    .footer-wrapper {
        margin: 2px 20px 20px 21px;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 75px 100px 82px; 
        gap: 15px 0px;
        grid-template-areas: 
        "logo social-media"
        "donation-block social-media"
        "footer-navigation footer-navigation"; 
    }
    
    .social-media { grid-area: social-media; }
    .logo { grid-area: logo; }
    .footer-navigation { grid-area: footer-navigation; }
    .donation-block { grid-area: donation-block; }          
    
    .footer-wrapper .logo {
        margin: 11px 5px 0 0;
    }

    .subscription,
    .social-media-link p {
        display: none;
    }

    .social-media {
        justify-content: flex-end;
    }

    .social-media-list li {
        margin-bottom: 15px;
    }

    .social-media-icon {
        margin-right: 0;
    }

    .donation-block {
        margin-top: 5px;
    }

    .footer-navigation .nav .nav-list {
        gap: 36px;
        padding-left: 0;
    }

    .social-media-link:hover .social-media-icon {
        transform: scale(1.1);
    }
}

@media (max-width: 615px) {
    .diet-animal {
        background-size: 100%;
    }

    .footer-wrapper {
        margin: 5px 10px;
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 15px 0px; 
        grid-template-areas: 
        "logo"
        "social-media"
        "donation-block"
        "footer-navigation"; 
    }

    .logo { grid-area: logo; }
    .social-media { grid-area: social-media; }
    .donation-block { grid-area: donation-block; }
    .footer-navigation { grid-area: footer-navigation; }

    .footer {
        height: 334px;
    }

    .footer-wrapper .logo {
        width: 130px;
        margin: 0 auto;
        border: none;
    }

    .footer-wrapper .logo .logo-bamboo {
        bottom: 19.2px;
        left: 71.5px;
    }
    
    .social-media {
        justify-content: center;
        margin-top: 0;
    }

    .social-media-list {
        flex-direction: row;
        gap: 30px;
    }

    .donation-block {
        margin: 0;
        transform: translateY(-3px);
    }

    .footer-navigation {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .footer-nav {
        order: 2;
        margin: 0 auto;
    }

    .footer-navigation .nav .nav-list {
        gap: 30px;
    }
    
    .credits {
        order: 1;
        font-size: 15px;
    }
}

@media (max-width: 580px) {
    .progress-bar {
        width: 100%;
        left: 0px;
    }
}

@media (max-width: 450px) {
    .panda-block {
        height: 221px;
        background-size: 240%;
        background-position: 33.5% 44%;
    }

    .donation-wrapper {
        margin: 0 0 21px 0;
    }

    .donation-title {
        margin: 32px 20px 17px 10px;
    }

    .donation-description {
        width: 93%;
        line-height: 22.2px;
        margin: 0 0 29px 10px;
    }

    .donation-subtitle {
        font-size: 24px;
        margin-left: 10px;
        margin-bottom: 29px;
    }

    .donation-info-block {
        margin: 0 10px;
        padding: 20px 0 1px 0;
    }

    .info-title {
        font-size: 24px;
        margin-bottom: 9px;
    }

    .info-description {
        font-size: 16px;
        line-height: 22.4px;
        margin-bottom: 25px;
    }

    .diet-block {
        margin-bottom: 0;
    }

    .diet-amount {
        margin-right: 0;
    }

    .diet-amount-number {
        font-size: 40.6px;
    }

    .diet-amount-description {
        font-size: 9.02px;
    }

    .diet-separator {
        margin-right: 13px;
        width: 12px;
        height: 12px;
        right: 5px;
        top: 2px;
    }

    .diet-separator:after,
    .diet-separator:before {
        height: 10px;
        width: 1px;
    }

    .diet-animal {
        position: relative;
        left: 5px;
        width: 150px;
        height: 120px;
        margin-right: 0;
        margin-left: 20px;
    }

    .form-name {
        padding-left: 0;
        margin-bottom: 11px;
    }

    .progress-bar-wrapper {
        height: 13.5px;
        margin-bottom: 49px;
    }

    .form-inner-line {
        height: 1px;
        top: 6px;
    }

    .progress-bar {
        width: 94%;
        top: 0;
        left: 8px;
    }

    .amount-item {
        gap: 7px;
    }

    .line-dot {
        width: 5px;
        height: 5px;
    }

    .amount-radio:checked ~ .line-dot::before {
        width: 8.5px;
        height: 8.5px;
        border: solid 1.5px #FE9013;
    }

    .amount-radio:checked ~ .line-dot::after {
        width: 17px;
        height: 17px;
        border: solid 1.5px #FE9013;
    }
    
    .form-line-label {
        width: 21px;
        padding-left: 0;
    }

    .amount-text {
        font-size: 13px;
        margin-left: 6px;
    }

    .dollar {
        width: 5px;
        height: 10px;
        margin: 0 8px 0 0;
        background-size: 100%;
        top: unset;
    }

    .amount-radio:checked ~ .form-line-label .dollar {
        background-size: 100%;
    }

    .amount-radio {
        transform: scale(3);
        margin: 0;
    }

    .amount-input {
        margin-bottom: 25px;
    }

    .period-form {
        margin-right: 72px;
        margin-bottom: 30px;
    }

    .share-text {
        font-size: 15.95px;
        margin-bottom: 21px;
    }

    .donation-block {
        transform: translateY(-5px);
    }

    .credits {
        position: relative;
        top: -3px;
    }
}

@media (max-width: 330px) {
    .feed-button:hover,
    .donation-button:hover {
        transform: scale(1.01);
    }
}

@media (max-width: 321px) {
    .header {
        padding: 0 10px;
    }

    .burger-logo {
        margin-bottom: 13px;
    }
}