* {
    box-sizing: border-box;
}

@font-face {
    font-family: "RobotoLight"; 
    src: url("/assets/fonts/Roboto-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 300; 
} 

@font-face {
    font-family: "Roboto"; 
    src: url("/assets/fonts/Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 

@font-face {
    font-family: "RobotoMedium"; 
    src: url("/assets/fonts/Roboto-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 500; 
} 

@font-face {
    font-family: "RobotoBold"; 
    src: url("/assets/fonts/Roboto-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
} 

body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: "RobotoMedium", sans-serif;
    font-weight: 500; 
    font-size: 16px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    position: absolute;
    max-width: 1600px; 
    color: white;
    background-color: black;
    z-index: 100;   
}

.nav-wrapper {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    position: relative;
    width: 82px;
    height: 52px;
    margin-right: 22px;
    border: solid white 1px;
    border-radius: 2px;
}

.logo-text {
    text-align: center;
    font-size: 19px;
    color: white;
    word-wrap: break-word;
}

.logo-bamboo {
    position: absolute;
    bottom: 6.2px;
    left: 8.5px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 58px;
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.nav-link:hover {
    color: #FE9013;
    cursor: pointer;
}

.nav-link:active {
    color: #4B9200;
}

.main {
    display: flex;
    flex-direction: column;
}

.watch-block {
    display: flex;
    position: relative;
    width: 100%;
    height: 780px;
    background-image: url('/assets/images/Giant\ Panda.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.orange-circle {
    background-image: url('/assets/icons/Ellipse\ 6.svg');
    position: absolute;
    top: 92px;
    left: calc(50% - 465px/2 + 239.5px);
    width: 465px;
    height: 465px;
}

.watch-title {
    font-family: "RobotoBold"; 
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 166px;
    left: calc(50% - 500.31px/2 + 330.15px);
    width: 500px;
    height: 400px;
    color: white;
    font-size: 106.496px;
    font-weight: 700;
    text-align: center;
    line-height: 75%;
    text-transform: uppercase;
}

.watch-title span {
    color: #FFEE2E;
    transform: translateX(10px);
}

.watch-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 54px;
    position: absolute;
    top: 626px;
    left: calc(50% - 298px/2 + 332px);
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.2s;
}

.watch-button:hover {
    background: #E47209;
    transform: scale(1.03);
    cursor: pointer;
}

.watch-button:active {
    background: #4B9200;
    transform: scale(1.0);
}

.backstage {
    width: 100%;
    overflow-x: hidden;
}

.backstage-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 72.5%;
    height: 403px;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 180px;
}

.backstage-image {
    display: flex;
    width: 52.45%;
    height: 100%;
    background-image: url('/assets/images/bamboo-cap.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}

.backstage-text {
    width: 47.55%;
    height: 100%;
    padding-left: 87px;
    font-family: "Roboto", sans-serif;
}

.backstage-title {
    font-size: 48px;
    margin-bottom: 20px;
}

.backstage-subtitle {
    font-size: 24px;
    margin-bottom: 34px;
}

.backstage-title-description {
    margin-bottom: 54px;
    line-height: 135%;
}

.backstage-description {
    line-height: 135%;
}

.flower-top {
    width: 293px;
    height: 605px;
    position: absolute;
    top: -128px;
    right: -313px;
    background-image: url('/assets/images/flower_foto1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pets {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.pets-cards-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 80px;
}

.pets-cards-block {
    width: 73%;
    height: 872px;
    display: grid;
    grid-template-columns: repeat(4, 366px);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    position: relative;
    left: 220px;
    overflow-x: hidden;
}

.pet-card {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid transparent;
    background: linear-gradient(113.96deg, #F9804B 0%, #FE9013 100%);
    cursor: pointer;
}

.pet-photo {
    width: 100%;
    height: 86%;
    border-radius: 4px 4px 0 0;
}

.pet-card:nth-of-type(1) > .pet-photo {
    background-image: url('/assets/images/pandas.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pet-card:nth-of-type(2) > .pet-photo {
    background-image: url('/assets/images/eagles.jfif');
    background-repeat: no-repeat;
    background-position: 23.5%;
    background-size: 177% 100%;
}

.pet-card:nth-of-type(3) > .pet-photo {
    background-image: url('/assets/images/gorillas_1.jfif');
    background-repeat: no-repeat;
    background-position: 24%;
    background-size: 167% 100%;
}

.pet-card:nth-of-type(4) > .pet-photo {
    background-image: url('/assets/images/alligators.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pet-card:nth-of-type(5) > .pet-photo {
    background-image: url('/assets/images/sloth.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pet-card:nth-of-type(6) > .pet-photo {
    background-image: url('/assets/images/cheetahs.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pet-card:nth-of-type(7) > .pet-photo {
    background-image: url('/assets/images/penguins.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pet-card:nth-of-type(8) > .pet-photo {
    background-image: url('/assets/images/gorillas_2.jfif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pet-text {
    position: relative;
    width: 100%;
    height: 14%;
    background-color: white;
    border-radius: 0 0 4px 4px;
    padding: 10px 10px 10px 15px;
}

.pet-title {
    font-family: "RobotoBold";
    text-transform: uppercase;
}

.pet-destination {
    font-family: "RobotoLight";
    font-size: 15px;
}

.pet-card:nth-of-type(1) > .pet-text > .pet-icon,
.pet-card:nth-of-type(3) > .pet-text > .pet-icon,
.pet-card:nth-of-type(5) > .pet-text > .pet-icon,
.pet-card:nth-of-type(8) > .pet-text > .pet-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 12px;
    right: 8px;
    background: url('/assets/icons/banana_icon.svg') no-repeat center, url('/assets/icons/bamboo_icon.svg') no-repeat center;
}

.pet-card:nth-of-type(2) > .pet-text > .pet-icon,
.pet-card:nth-of-type(4) > .pet-text > .pet-icon,
.pet-card:nth-of-type(6) > .pet-text > .pet-icon,
.pet-card:nth-of-type(7) > .pet-text > .pet-icon {
    position: absolute;
    width: 48px;
    height: 38px;
    bottom: 12px;
    right: 8px;
    background: url('/assets/icons/fish_icon.svg') no-repeat 100% 75%, url('/assets/icons/steak_icon.svg') no-repeat 30% 30%;
}

.slider-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider-button {
    width: 62px;
    height: 62px;
    background-color: #FE9013;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.button-left {
    position: absolute;
    left: 140px;
}

.button-right {
    position: absolute;
    right: 140px;
}

.button-left img,
.button-right img {
    fill: white;
}

.slider-button:hover {
    background: #E47209;
    transform: scale(1.03);
    cursor: pointer;
}

.slider-button:active {
    background: #4B9200;
    transform: scale(1.0);
}

.flower-left {
    width: 880px;
    height: 460px;
    position: absolute;
    bottom: 0;
    left: -588px;
    background-image: url('/assets/images/flower_foto2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.flower-right {
    width: 368px;
    height: 275px;
    position: absolute;
    bottom: 0;
    right: -5px;
    background-image: url('/assets/images/2771deaf5a5f17d82ccbd9f5105b7ffe.png');
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
}

.choose-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 54px;
    margin: auto;
    margin-bottom: 100px;
    background-color: #FE9013;
    border-radius: 25px;
    border: none;
    color: white;
    font-family: "RobotoMedium", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    transition: 0.2s;
}

.choose-button:hover {
    background: #E47209;
    transform: scale(1.03);
    cursor: pointer;
}

.choose-button:active {
    background: #4B9200;
    transform: scale(1.0);
}